.video-container {  
    margin: 0%;
    position: relative;  
    bottom: 0;  
    width: 100%;  
    height: 100vh;
    overflow: hidden;  
    border-top: 5px solid #2edfe2ce;  
    border-bottom: 5px solid #2edfe2ce; 
}  
.vid{
    white:100%;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.overlay h1 {
    font-size: 4.5rem;
    margin: 3rem;
    background-color: rgba(47, 123, 142, 0.718); 
    padding: 0.5rem;
    flex-wrap: nowrap;
    white-space: nowrap; 
    flex-shrink: 0;
    padding: 10px; 
}

.overlay p {
    transform: translate(-67%, -50%);

    font-size: 1.5rem;
    margin: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}
.textt{
    font-size: 1.5rem;
    color: aqua;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    width: 100%;
    padding: 5% 3%;  
    text-align: center; 
    margin-bottom: 5%;

}
.textt h1{
     padding: 3% 3%;   
     font-size: x-large;
    color: rgba(175, 242, 248, 0.842);
    
}
.text h1{
    font-size: x-large;
    color: rgba(175, 242, 248, 0.842);
    padding: 3% 3%; 

    
}